* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Trebuchet MS" !important;
}
.nav-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4px 8%;
  background-color: white;
}
.nav-1 ul {
  display: flex;
  list-style: none;
  gap: 10px;
  color: black;
  padding-right: 10px;
}
.nav-1 ul a {
  color: rgb(58, 4, 58);
  text-decoration: none;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  font-family: "Times New Roman", Times, serif;
}
.nav-1 p a {
  color: white;
  background-color: purple;
  padding: 7px 14px;
  border-radius: 100px;
  text-decoration: none;
}
.nav-1 p i {
  margin-right: 5px;
}
.nav-1 p a:hover {
  background-color: rgb(221, 0, 255);
}

.nav-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 10px;
  padding: 1.2em 4%;
}
.nav-2 ul {
  display: flex;
  font-size: 40%;
  list-style: none;
  padding: 4px 8%;
  gap: 15px;
}
.nav-2 ul a {
  color: rgba(25, 2, 25, 0.633);
  text-decoration: none;
  font-size: 20px;
  transition: all 0.2s ease-in-out;
  font-family: "Times New Roman", Times, serif;
}
.nav-2 p {
  font-size: 1.1em;
  color: white;
  background-color: purple;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
}
.alat {
  background-color: purple;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
.alat img {
  width: 50%;
  padding: 20px 30px;
}
.Banking-1 {
  background-color: rgba(255, 255, 255, 0.969);
  display: flex;
  justify-content: center;
  column-gap: 0.5em;
  flex-wrap: wrap !important;
  padding: 2rem 0;
}
.Banking-1 section {
  display: flex;
  flex-wrap: wrap !important;
  flex-flow: column;
  align-items: center;
  flex-basis: 25%;
  gap: 1em;
  padding: 1.2em 0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.284);
}
.Banking-1 section:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px raba(0, 0, 0, 0.15);
}
.Banking-1 section p {
  margin: 0;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.591);
}

.Banking-1 section img {
  width: 50px;
  aspect-ratio: 3/2;
  object-fit: contain;
}
.product {
  padding: 40px 70px;
}
.product h5 {
  color: purple;
  font-size: 20px;
  padding: 5px 0;
}
.product h3 {
  padding: 10px 0;
}
.product p {
  color: rgba(0, 0, 0, 0.668);
}
.product-1 {
  display: flex;
  gap: 1em;
  background-color: white;
  flex-wrap: wrap;
  justify-content: center;
  padding: 3em 0;
}

.product-1 div {
  width: 30%;
  background-color: rgba(255, 192, 203, 0.105);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
  padding: 3em 2em;
  gap: 1em;
}

.product-1 div img {
  width: 100px;
  /* text-align: justify; */
}

.product-1 div p {
  text-align: justify;
}
.product-1 div a {
  color: black;
  text-decoration: none;
}

.marquee {
  background-color: rgb(73, 5, 73);
  color: white;
  font-size: 1.1em;
  padding: 10px;
  font-family: sans-serif;
}
.swipe {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
  background-color: white;
}
.swipe div {
  width: 40%;
}
.card {
  color: purple;
  font-size: 15px;
  margin-bottom: 10px;
}
.swipe div h2 {
  font-size: 2em;
  width: 80%;
  line-height: 1.2;
  margin-bottom: 10px;
}
.swipe div p {
  font-size: 1.1em;
  margin: 10px 0 2em 0;
}
.swipe div a {
  background-color: purple;
  padding: 11px 27px;
  font-size: 1.2em;
  color: white;
  margin-bottom: 10px;
  border-radius: 100px;
  text-decoration: no;
}
.swipe div a i {
  margin-left: 5px;
}
.more {
  transition: 0.2s ease-in;
}
.more:hover {
  transform: translateX(15px);
}
.SME-partner {
  display: flex;
  justify-content: space-between;
  padding: 40px 40px;
  gap: 40px;
}
.SME-partner h3 {
  color: black;
  padding-top: 10px;
  font-family: Arial, Helvetica, sans-serif;
}
.SME-partner h4 {
  color: purple;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 10px;
}
.SME-partner p {
  text-align: justify;
  padding-top: 10px;
  color: rgb(202, 138, 202);
  padding-bottom: 50px;
}
.sme-banking {
  padding: 20px 10px;
}
.sme-banking a {
  background-color: purple;
  padding: 11px 27px;
  font-size: 1.2em;
  color: white;
  margin-bottom: 10px;
  border-radius: 100px;
  text-decoration: none;
}
.learn {
  transition: 0.2se ease-in-out;
}
.learn:hover {
  transform: translate(15px);
}
.loans {
  display: flex;
  gap: 1em;
  background-color: white;
  justify-content: center;
  padding: 3em 0;
}
.loans div {
  width: 30%;
  background-color: rgba(241, 216, 221, 0.105);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 2em;
  gap: 1em;
}
.payment {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
  gap: 40px;
}
.uninterrupted {
  padding: 70px 20px;
}
.uninterrupted h5 {
  color: rgb(95, 8, 95);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 150%;
  padding-bottom: 3%;
}
.uninterrupted h3 {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.uninterrupted p {
  padding-top: 20px;
  font-family: serif;
  color: rgb(84, 36, 84);
}
.uninterrupted a {
  background-color: purple;
  padding: 11px 27px;
  font-size: 1.2em;
  color: white;
  margin-bottom: 10px;
  border-radius: 100px;
  text-decoration: none;
}
.Explore-1 {
  background-color: rgb(117, 21, 117);
  padding: 40px 50px;
}
.Explore {
  display: flex;
  justify-content: space-between;
}
.Explore h4 {
  color: rgba(255, 255, 255, 0.67);
  padding: 20px 0;
}
.Explore h2 {
  color: white;
  padding: 10px 0;
}
.Explore h1 {
  color: rgb(224, 22, 224);
  padding: 5% 0;
}
.Explore h5 {
  color: rgba(255, 255, 255, 0.698);
}
.Explore p {
  color: rgba(255, 255, 255, 0.698);
  padding: 20px 0;
}
.number {
  display: flex;
  gap: 200px;
}
.price {
  display: flex;
  gap: 1em;
  justify-content: center;
  padding: 3em 0;
}
.price div {
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 2em;
  gap: 1em;
}
.blog h5 {
  color: purple;
  padding: 20px 0;
  align-items: center;
}
.business-1 {
  justify-content: space-between;
  display: flex;

  padding: 3em 2em;
}
.business-1 h2 {
  padding-bottom: 20px;
}
.business-1 p {
  text-align: justify;
  color: rgb(169, 123, 169);
  padding-bottom: 30px;
}
.business-2 a {
  background-color: purple;
  padding: 11px 27px;
  font-size: 1.2em;
  color: rgb(250, 242, 242);
  margin-bottom: 10px;
  border-radius: 100px;
  text-decoration: none;
}
.business-3 {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3em 0;
  gap: 1em;
}
.business-3 div {
  width: 25%;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.138);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 3em 2em;
  gap: 1.5em;
}
.Testimonial {
  padding: 2.5em 5em;
}

.Testimonial div h2 {
  margin-bottom: 2em;
}

.customer {
  display: flex;
  align-items: center;
  gap: 1em;
  justify-content: space-between;
}
.customer div {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.38);
  width: 32%;
  padding: 2em 1em;
  gap: 1.5em;
}
.downoad {
  background-color: purple;
}
.normal {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}
.normal h5 {
  color: white;
}
.now {
  color: white;
  text-align: center;
}
.store {
  justify-content: center;
  text-align: center;
  display: flex;
  align-items: center;
  gap: 2em;
  padding-top: 40px;
}

.store-2 p {
  color: white;
}
.store-2 a {
  font-size: 1.2em;
  color: white;
  text-decoration: none;
  border: 1px solid white;
  padding: 10px 16px;
  display: inline-block;
  margin-top: 1.5em;
  text-transform: capitalize;
  border-radius: 5px;
}
.store-1 {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.blog h5 {
  color: purple;
  padding: 10px 30px;
}
.blog h2 {
  padding: 10px 30px;
}
.Ariticle {
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.192);
  gap: 25px;
}
.img {
  background-image: url(./img/638733212981616375_a-gisop0.jpg);
  width: 40%;
  height: 300px;
  background-size: cover;
  background-position: center;
}
.Ariticle-2 {
  display: flex;
  gap: 15px;
}
.Ariticle-2 a {
  background-color: rgb(237, 220, 237);
  color: purple;
  padding: 5px 15px;
  border-radius: 20px;
  text-decoration: none;
}
.Ariticle div {
  width: 40%;
  background-color: white;
}

.Ariticle-1 {
  height: 300px;
  padding: 10px;
}
.Ariticle-1 h2 {
  padding-top: 15px;
}
.Ariticle-1 p {
  padding-top: 20px;
  color: rgba(0, 0, 0, 0.713);
}
.read-more {
  color: purple;
  text-decoration: none;
  border: 3px solid rgba(255, 255, 255, 0.082);
  padding: 10px 16px;
  display: inline-block;
  margin-top: 1.5em;
  text-transform: capitalize;
  border-radius: 10px;
}
/* .nigeria-1{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 10px solid white; 
  padding: 20px 30px;
  
}
.nigeria-1 a{
  background-color: rgb(238, 182, 238);
  padding: 2px 10px;
  border-radius: 20px;
  text-decoration: none;
}
.Release-1{
  display: flex;
  gap: 20px;
  align-items: center;
  padding: 10px 10px;
} 
.nigeria-1 h2{
  text-transform: uppercase;
  font-size: 15px;
}
.nigeria-1 p{
  padding:15px 0;
  justify-items: center;
} */

.article__wrapper {
  width: 95%;
  margin: 2.5em auto;
  display: flex;
  gap: 1em;
}

.article__wrapper article {
  width: 33.3%;
  background-color: white;
  box-shadow: 0 4px 1em rgba(0, 0, 0, 0.28);
  border-radius: 4px;
  padding: 1.5em;
}

.article--1-img {
  background-image: url(./img/638731552586967232_Wema_Logo.jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}
.article--2-img {
  background-image: url(./img/638729602330760623_Media_\(1\).jpg);
  background-size: cover;
  background-position: center;
  height: 300px;
}
.article--3-img {
  background-image: url(./img/woman\ wema.png);
  background-size: cover;
  background-position: center;
  height: 300px;
}

.article__wrapper article header {
  display: flex;
  gap: 1em;
  align-items: center;
  margin: 1em 0;
}
.article__wrapper article header h5 {
  background-color: rgba(128, 0, 128, 0.105);
  padding: 8px 16px;
  border-radius: 100px;
  color: purple;
}

.article__wrapper article h2 {
  margin-bottom: 1em;
  /* overflow: hidden;
  white-space: nowrap;
  width: 100%;
  text-overflow: ellipsis; */
}

.article__wrapper article > p {
  margin-bottom: 1em;
  color: rgb(100, 100, 100);
}

.article__wrapper article button {
  background: transparent;
  border: 1px solid grey;
  padding: 14px 20px;
  font-size: 1.1em;
  color: purple;
  border-radius: 100px;
  font-weight: bold;
  text-transform: capitalize;
}

.future {
  width: 95%;
  margin: 2.5em auto;
}

.future header {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin-bottom: 1.5em;
}

.future header h5 {
  color: purple;
}
.future iframe{
  width: 100%;
  height: 400px;
}
footer{
  margin: 2.5em auto 0 auto;
  background-color: purple;
  display: flex;
  flex-wrap: wrap;
  padding: 2.5em 6em;
  justify-content: center;
  row-gap: 10em;
  column-gap: 1em;
}

footer section div{
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  gap: 5px;
}
footer section div a{
  text-decoration: none;
  color: rgb(185, 185, 185);
  font-size: 13px;
}

footer section{
  width: 22%;
}
footer h5{
  color: white;
}
.plc{
  background-color: white;
  color: purple;
  padding: 20px;
  text-align: center;
}
.reserved{
  padding-top: 20px;
  color: white;
}
/* .cbn{
  /* display: flex; */
  /* background-color: aquamarine; width: 100% !important; */


.cbn img {
  display: block;
  width: 50px;
}

.social--icons{
  display: flex;
}

/* @media (max-width: 1000px) {
  .article__wrapper {
    flex-direction: column;
  }
  .article__wrapper article {
    width: 100%;
  }
} */
